
  *{
      margin: 0;
      padding: 0;
  }
  a{
    text-decoration: none;
  }
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.logo{
  
  font-size: 1.7rem;
  cursor: pointer;
  float: right;
  margin: 0 15px;
  line-height: 3.5rem;
}
@media screen and (min-width: 768px) {
  .logo{
    display: none
  }
}
@media screen and (max-width: 768px) {
  ul a:not(:first-child) {display: none;}
  .logo{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .open a:not(:first-child) {display: block;}
  .logo{
    display: block;
  }
}

.hero-content{
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
}
.hero-content h1{
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 4.2rem;
  margin: 2rem 6rem 1rem 6rem;
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-content p{
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.hero-content button{
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.5rem;
}
/* End of Hero component */

/* Services start */
.service{
  background: var(--darkGrey);
}
.service h1{
  text-align: center;
  color: var(--mainBlack);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1.5rem 0 1rem 0;
}
.service-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem 3rem 2rem;
}
.details span{
  color: var(--primaryColor);
  font-size: 3rem;
}
.details h3{
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}
.details div{
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* End of Service */

/* Each rooms container design */
.rooms-info{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  transition: all ease-in-out 0.5s;
}
.image-holder{
  transition: all ease-in-out 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-holder img{
  display: block;
  width: 100%;
  
  transition: all ease-in-out 0.5s;
}

.image-holder :nth-child(2){
  position: absolute;
  display: block;
  background: var(--mainBlack);
  color: var(--mainWhite);
  font-weight: bold;
  padding: 0.1rem 0.7rem 0.2rem 0.3rem;
  text-align: center;
  border-bottom-right-radius: 1rem;
  text-align: center;
  word-break: break-word;
  width: 50px;
  overflow: hidden;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.image-holder :nth-child(2) span{
  font-size: 10px;
}
.image-holder a{
  align-self: center;
  position: absolute;
  top: 50%;
  transform: translateX(1000%);
  transition: all ease-in-out 0.5s;
}

.img-title{
  text-transform: capitalize;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: var(--mainBlack);
  letter-spacing: 2px;
  padding: 0.5rem 0;
  background: var(--darkGrey);
}
 /* Transitons */
.image-holder:hover img{
  opacity: 0.3;
}
.image-holder:hover{
  background: rgba(0, 0, 0, 0.8);
}
.image-holder:hover .text{
  opacity: 0;
  transform: translate(-50%, -50%)
}
.image-holder:hover a{
  transform: translate(0, -50%)
}

/* End of Each rooms container design */
.featured-room h1{
  text-align: center;
  padding: 2rem 0 1rem 0 ;
  letter-spacing: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Search Box */

.search-box h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  text-align: center;
  padding: 2rem 0 1.5rem 0;
}
.search-box .form{
  margin: 4rem 4rem 0 4rem;
 display:  grid;
 grid-gap: 90px;
 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.form label{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}
.form-option select{
  width: 150px;
  display: inline-block;
}
select{
  text-transform: capitalize;
}
option{
  background: var(--darkGrey);
}
.checkbox{
  margin: 0 5px;
  
}

.extras{
  margin: 2rem 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}
input[type=range] {
  height: 41px;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  
  box-shadow: 0px 0px 2px #000000;
  background: #F7F7F7;
  border-radius: 26px;
  border: 1px solid #CFCFCF;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #CFCFCF;
  height: 32px;
  width: 32px;
  border-radius: 26px;
  background: #AF9A7D;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F7F7F7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
 
  box-shadow: 0px 0px 2px #000000;
  background: #F7F7F7;
  border-radius: 26px;
  border: 1px solid #CFCFCF;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #CFCFCF;
  height: 32px;
  width: 32px;
  border-radius: 26px;
  background: #AF9A7D;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F7F7F7;
  border: 1px solid #CFCFCF;
  border-radius: 52px;
  box-shadow: 0px 0px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #F7F7F7;
  border: 1px solid #CFCFCF;
  border-radius: 52px;
  box-shadow: 0px 0px 2px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #CFCFCF;
  height: 32px;
  width: 32px;
  border-radius: 26px;
  background: #AF9A7D;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F7F7F7;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F7F7F7;
}